* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #eeeeee;
}
.orders {
  margin: 0 10%;
}

table {
  table-layout: fixed;
  width: 100%;
}

thead th:nth-child(9),
thead th:nth-child(8),
thead th:nth-child(7) {
  width: 6%;
}

thead th:nth-child(6) {
  width: 40%;
}

thead th:nth-child(5) {
  width: 3%;
}
thead th:nth-child(4) {
  width: 5%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(2),
thead th:nth-child(1) {
  width: 14%;
}

th,
td {
  padding: 10px;
}

h2 {
  margin-bottom: 12px;
}
.link {
  margin-bottom: 12px;
}
.link a {
  border-radius: 10px;
  background: mediumpurple;
  text-decoration: none;
  color: white;
  padding: 3px 6px;
}
.order-data {
  display: flex;
  justify-content: space-between;
}
.order {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px #bebebe;
  padding: 8px;
  margin-bottom: 10px;
}
.order:hover {
  background: yellow;
}
.order-print {
  border-radius: 10px;
  background: mediumpurple;
  text-decoration: none;
  color: white;
  padding: 3px 6px;
  font-size: 12px;
}
.order-line {
  border: 0.5px solid gray;
  margin: 3px 0;
}
